/*
 * From https://github.com/mxstbr/sirke.is
 */
#wrapper,
#second-background,
#background,
body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	transition: opacity 250ms;
	position: absolute;
	top: 0;
	left: 0;
}

#sirkeis {
	display: inline-block;
	font-family: 'Lato', Arial,Helvetica Neue,Helvetica,sans-serif;
	letter-spacing: 0.03em;
	margin-top: 3em;
	transition: color 250ms;
}

#sirkeis:after {
	content: "…";
}

#adjective {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	font-family: 'Lato', Arial,Helvetica Neue,Helvetica,sans-serif;
	letter-spacing: 0.03em;
	margin: 0;
	font-size: 48px;
	transition: color 250ms;
}

#adjective:before {
	content: '…';
	margin-right: 0.1em;
}

#adjective:after {
	content: '.';
}

#progressbar {
	height: 4px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: color 250ms;
}